<ion-header>
  <ion-toolbar>
    <ion-title>
      MENU
    </ion-title> 
  </ion-toolbar>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            
          </ion-col>
          <ion-col>
              <ion-card class="welcome-card">
                  <ion-card-header>
                      <img class="img-responsive" src="/assets/1.jpg" alt="" width="100%" height="auto" />
                    <ion-card-title>Milk Tea</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-col>
          <ion-col>
              <ion-card class="welcome-card">
                  <ion-card-header>
                      <img class="img-responsive" src="/assets/2.jpg" alt="" width="100%" height="auto" />
                    <ion-card-title>Milk Tea</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-col>
          <ion-col>
              <ion-card class="welcome-card">
                  <ion-card-header>
                      <img class="img-responsive" src="/assets/4.jpg" alt="" width="100%" height="auto" />
                    <ion-card-title>Milk Tea</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </ion-col>
        </ion-row>
        </ion-grid>
</ion-content>
